{% extends 'basic.html' %}
{% load static %}
{% block title %}about
{% endblock title %}
{% block body %}
<h1 class="text-center text-success">About page </h1>
<p style="text-align: center;">Goibibo is India’s leading online travel booking brand providing range of choice for hotels, flights, trains, bus and cars for travelers. Our core value differentiator is the most trusted user experience, be it in terms of quickest search and booking, fastest payments, settlement or refund processes. Through GoStays, our customers enjoy standardised stay experience at certified hotel properties. With industry first virtual travel booking currency GoCash and travel social network, GoCash+ Rewards – GoIbibo is the number one choice for new India on the move.</p>
<img src="{% static 'img/about.jpg' %}"/>
{% endblock body %}